extends ../layout

block content
  form(method='POST', action='/users/update')
    input#user_id(type='hidden', name='_id', value=edited_user._id)
    div.form-group
      label(for='user_email') User email
      input#user_email.form-control(type='email', placeholder='User email', name='email', value=edited_user.email)
    div.form-group
      label(for='user_password') User password
      input#user_password.form-control(type='password', placeholder='User password', name='password')
    each rights, entity in edited_user.rights
      each value, action in rights
        div.form-group
          label(for='#{action}_#{entity}') #{action} #{entity}
          input.form-control(id='#{action}_#{entity}', type='checkbox', name='rights_#{entity}_#{action}', checked=value, value=1)

    button.btn.btn-success(type='submit') Update user
